body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  background: white;
  padding: 50px;
  border-radius: 20px;
  width: 500px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  text-align: center;
}


h1 {
  font-size: 42px;
  margin-bottom: 15px;
  color: #111;
}


p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}


.btn {
  width: 100%;
  background: black;
  color: white;
  border: none;
  padding: 18px;
  font-size: 18px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 30px;
}

.btn:hover {
  background: #222;
}


.cancel {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.cancel p {
  margin-bottom: 10px;
  color: #444;
}


.cancel a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.cancel a:hover {
  text-decoration: underline;
}